<footer class="sitefoot">
  <div class="sitefoot__row">
    <div class="sitefoot__brand">
      <p>&copy; {{ year }} POSH ™ Inc.</p>
    </div>
    <div class="sitefoot__socials">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="sitefoot__credit">
      <p>Made with ❤️ by <span class="sitefoot__credit-name">Ireoluwa</span></p>
    </div>
  </div>
</footer>
